<form id="find-plan-form" class="find-resource-form">
  <fieldset>
    <legend>Find Meal Plans</legend>
    <label for="plan-name">Plan Name</label>
    <input type="text" id="plan-name" name="plan[name]" placeholder="Plan Name" required>
    <input type="submit" value="Submit">
  </fieldset>
</form>
