{{#if store.isSignedIn}}
  <p>To get started, click on the <b>Meal Plans</b> button to go create meal
    plans, see a list of all of your meal plans, or search for specific meal
    plans. While looking at your meal plans, by either listing all meal plans
    or searching, you will be able to edit or delete them.</p>
{{else}}
  <p>This application was designed to help users plan out their meals for the
    week. To start using the app, click the <b>Register</b> button in the
    navigation bar above. Once you have registered click the <b>Login</b> button
    to log in.</p>
{{/if}}
