{{#if store.isSignedIn}}
  <p>In order to create a meal plan, you first need to create some meals. To get started, click on the <b>Meals</b> button and then select <b>New Meal</b> from the dropdown. This will bring you to a form to fill out to create a meal. Once you have filled out the form hit <b>Submit</b> to create the meal. To create another meal simply select <b>New Meal</b> from the <b>Meals</b> dropdown again.</p>
  <p>Once you have created some meals you can start to make meal plans. Click on the <b>Meal Plans</b> button, and select <b>New Meal Plan</b> from the dropdown. You can then give your meal plan a name. When you click the box for the first meal, a dropdown menu will appear with a list of all of your meals. You can either select a meal from the list, or start typing the name of the meal you want to select and the list will filter based on what you type.</p>
  <p>To add meals, simply click the <b>Add Meal</b> button at the botton. If you add too many meals you can click the <b>Remove Meal</b> button to remove the last meal from the list.</p>
{{else}}
  <p>This application was designed to help users plan out their meals for the
    week. To start using the app, click the <b>Register</b> button in the
    navigation bar above. Once you have registered click the <b>Login</b> button
    to log in.</p>
{{/if}}
