<div class"show-meal">
  <h2>Name: {{meal.name}}</h2>
  <div class="container">
    <p><b>Time to Make:</b> {{meal.time}}</p>
    <p><b>Ingredient List:</b> {{meal.ingredient_list}}</p>
  </div>
</div>
