<form id="find-plan-form">
  <fieldset>
    <legend>Find a Meal Plan</legend>
    <label for="meal-plan-name">Plan Name</label>
    <input type="text" id="meal-plan-name" name="meal_plan[name]" placeholder="Plan Name">
    <input type="submit" value="Submit">
  </fieldset>
</form>
