<form id="new-meal-plan">
  <fieldset>
    <legend>Create a new Meal Plan</legend>
    <input type="text" name="meal_plan[name]" placeholder="Plan Name">
    <input type="text" name="meal_plan[meal1]" placeholder="Meal 1 Name">
    <input type="text" name="meal_plan[meal2]" placeholder="Meal 2 Name">
    <input type="text" name="meal_plan[meal3]" placeholder="Meal 3 Name">
    <input type="text" name="meal_plan[meal4]" placeholder="Meal 4 Name">
    <input type="text" name="meal_plan[meal5]" placeholder="Meal 5 Name">
    <input type="text" name="meal_plan[meal6]" placeholder="Meal 6 Name">
    <input type="text" name="meal_plan[meal7]" placeholder="Meal 7 Name">
    <input type="submit" value="Submit">
  </fieldset>
</form>
