<form id="new-plan" class="new-plan">
  <fieldset class="d-flex flex-column">
    <legend>Create a new Meal Plan</legend>
    <div>
      <label for="plan-name">Plan Name</label>
      <input type="text" name="plan[name]" placeholder="Plan Name" required>
    </div>
    <div data-index="1">
      <label for="meal1">Meal 1</label>
      <input type="text" name="plan[meal1]" list="meals">
    </div>
    <button class="add-meal-button" data-id="new-plan">Add Meal</button>
    <input type="submit" value="Submit">
  </fieldset>
  <datalist id="meals">
    {{#each meals as |meal|}}
      <option value="{{meal.name}}">
    {{/each}}
  </datalist>
</form>
