{{log resource}}
<section id="resource-nav">
  <ul class="nav nav-pills">
    <li id="new-resource" class="nav-item">
      <a class="nav-link">New {{resource}}</a>
    </li>
    <li id="index-resource" class="nav-item">
      <a class="nav-link">List {{resource}}s</a>
    </li>
    <li id="find-resource" class="nav-item">
      <a class="nav-link">Find {{resource}}</a>
    </li>
  </ul>
</section>
<section id="resource-view">
</section>
<section id="new-resource-form">
</section>
