<form id="find-meal-form" class="find-resource-form">
  <fieldset>
    <legend>Find Meals</legend>
    <label for="meal-name">Plan Name</label>
    <input type="text" id="meal-name" name="meal[name]" placeholder="Meal Name" required>
    <input type="submit" value="Submit">
  </fieldset>
</form>
